<article class="property">
  <div class="title">

    <a href="/rentsearch/{{id}}"> {{formattedAddress}} </a>                     

 </div>
  <div class="meta">

    </div>
  <div class="homes">
    <h1 id="listRent">Rent Range</h1>
    <p>{{home-rent}}</p>
   <p>{{ home-rentRangeHigh}}<p>
   <p>{{ home-rentRangeLow }}</p>
   <p>{{ home.listings.formattedAddress }}</p>
   <p>{{home.listings.price}}</p>
   <p>{{home.listings.bedrooms}}</p>
   <p>{{home.listings.bathrooms}}</p>
   <p>{{home.listings.propertyType}}</p>
   <p>{{home.listings.squareFootage}}</p>
  </div>

</article>