<article class="property-info">
  <div class="title">

    <a href="/rentsearch/{{id}}"> {{formattedAddress}} </a>                     

 </div>
  <div class="meta">

    </div>
  <div class="listings">
   <p>{{ post-context}}<p>
   <p>{{ post_context }}</p>
   <p>{{ context }}</p>
  </div>

</article>